<!--<div class="row">
  <div class="col-md 6 col-md-3 signup">-->
 
<div class="mysignup">
    <h2>Sign Up</h2>



<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render 'shared/devisemes' %>

  <div class="form-group signin-field">
    <%= f.text_field :fullname, :class => "form-control", :placeholder => "Full Name", autofocus: true %>
  </div>

  <div class="form-group signin-field">
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "email" %>
  </div>
  <div class="form-group signin-field">
    <% if @validatable %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br /> 
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "password"  %>
  </div>


  <div class="actions">
    <%= f.submit "Sign up", :class => "btn btn-primary my-button" %> <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary my-button" %>
  </div>
  <% end %>
  </div>
 <!-- </div>  
  
</div> -->

