<div class="row">
  <div class="col-md 6 col-md-offset-3 text-center">

<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>

  <%= render 'shared/devisemes' %>
  <%= f.hidden_field :reset_password_token %>

<div class="form-group">
  <%= f.password_field :password, autofocus: true, autocomplete: "off", :class => "form-control", :placeholder => "New Password" %>
</div>

<div class="form-group">
  <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control", :placeholder => "Confirm New Password" %>
</div>

  <%= f.submit "Change my password", :class => "btn btn-danger" %>
<% end %>

</div>
</div>