<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">

<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render 'shared/devisemes' %>

  <div class="form-group">
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "email" %>
  </div>

    <%= f.submit "Send me reset password instructions", :class => "btn btn-danger" %>
  <% end %>

  </div>
</div>

