<div class="row">
	<div class="col-md-3">
	<ul class="sidebar-list">
		<li class="sidebar-item"><%= link_to "Your Listing", homes_path, class: "sidebar-link active" %>
		</li>
		<li class="sidebar-item"><%= link_to "Your Swaps", homes_path, class: "sidebar-link active" %>
		</li>
	</ul>
	</div>

	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
			Listings
			</div>
			<div class="panel-body">
				<% @homes.each do |home| %>
					<div class="row">
						<div class="col-md-2">
							<%= image_tag home.photos[0].image.url(:thumb) if home.photos.length > 0 %>
						</div>
						<div class="col-md-7">
							<%= home.listing_name %>
						</div>
						<div class="col-md-3 right">
							<%= link_to "Update", edit_home_path(home), class: "btn btn-primary my-button" %>
						</div>
					</div>
					<hr>
				<% end %>
			</div>
		</div>
	</div>
</div>