<div class="panel panel-default">
	<div class="panel-body">

		<!--image-->
		<div class="row">
			<div class="col-md-12">
			<%= image_tag @photos[0].image.url(), class: "img-responsive" if @photos.length > 0 %>
			</div>
		</div>
	</div>

	<br>
	<!-- main info -->
	<div class="row">
		<div class="col-md-8">
			<div class="row">
				<div class="col-md-3 text-center">
				<%= image_tag avatar_url(@home.user), class: "img-circle avatar-large" %> <br><br>
				<%= @home.user.fullname %>
				</div>

				<div class="col-md-9" id="listing-title">
					<h4><%= @home.listing_name %></h4>
					<%= @home.address %>
					<hr>
					<div class="row text-center row-space-1">
						<div class="col-sm-3">
							<i class="fa fa-home fa-2x"></i>
						</div>

						<div class="col-sm-3">
							<i class="fa fa-users fa-2x"></i>
						</div>

						<div class="col-sm-3">
							<i class="fa fa-bed fa-2x"></i>
						</div>

						<div class="col-sm-3">
							<i class="fa fa-ship fa-2x"></i>
						</div>
					</div>

					<div class="row text-center">
						<div class="col-sm-3">
							<%= @home.home_type %>
						</div>
						<div class="col-sm-3">
							<%= @home.accommodate %> <%= @home.accommodate > 1? "Guests" : "Guest" %>
						</div>
						<div class="col-sm-3">
							<%= @home.bed_room %> <%= @home.bed_room > 1? "Bedrooms" : "Bedroom" %>
						</div>
						<div class="col-sm-3">
							<%= @home.bath_room %> <%= @home.bath_room > 1? "Bathrooms" : "Bathroom" %>
						</div>
					</div>
				</div>

			</div>
		</div>

		<div class="col-md-4">
			<!-- reservation form -->
			<%= render 'swaps/form' %>

		</div>
	</div>

	<!-- about -->
	<hr>
	<div class="row">
		<div class="col-md-12 about-home">
			<h2>about this home</h2>
			<p><%= @home.summary %></p>
		</div>
	</div>

	<!-- amenities --><!--
	<div class="row">
		<div class="col-md-2">
			<p>Amenities</p>
		</div>
		<div class="col-md-10">
			<div class="row">
				<div class="col-md-6">
					<ul class="amenities">
						<li class="<%= 'text-line-through' if !@home.is_air %>">airconditioning</li>
						<li class="<%= 'text-line-through' if !@home.is_heating %>">heating</li>
					</ul>
				</div>				
			</div>
		</div>
	</div> -->

	<!-- carousel -->
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <% if @photos %>
			  <ol class="carousel-indicators">
			  	<% @photos.each do |photo| %>
			    <li data-target="#myCarousel" data-slide-to="<%= photo.id %>"></li>
			   <% end %>
			  </ol>
			  <% end %>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			  	<% if @photos %>
			  		<% @photos.each do |photo| %>
			    <div class="item <%= 'active' if photo.id == @photos[0].id %>">
			      <%= image_tag photo.image.url() %>
			    </div>
			    <% end %>
			    <%end %>  
			  </div>

			  <!-- Left and right controls -->
			  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>
	</div>

	<br>
	<hr>
	<!-- map -->
	<div class="row">
		<div class="col-md-12">
			<div id="map"></div>

			<style>
				#map {
        			width: 100%;
        			height: 400px;
     			}
    		</style>

    		<script src="https://maps.googleapis.com/maps/api/js"></script>
    	        <script>
    			function initialize() {
    				var mapCanvas = document.getElementById('map');
    				var mapOptions = {
    					center: new google.maps.LatLng(<%= @home.latitude %>, <%= @home.longitude %>),
    					zoom: 14,
    					mapTypeId: google.maps.MapTypeId.ROADMAP
    				}
    				var map = new google.maps.Map(mapCanvas, mapOptions);
    			

    				var marker = new google.maps.Marker({
    					position: new google.maps.LatLng(<%= @home.latitude %>, <%= @home.longitude %>),

    				});

    				marker.setMap(map);
    			}
    			google.maps.event.addDomListener(window, 'load', initialize);
    			</script>

    			
		</div>

	</div>

	<!-- close by -->
	<hr>
	<h3>Near by</h3>
	<div class="row">
		<% for home in @home.nearbys(10) %>

		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading preview">
					<%= image_tag home.photos[0].image.url(:medium) %>
				</div>
				<div class="panel-body">
					<%= link_to home.listing_name, home %><br>
					(<%= home.distance.round(2) %> kms away)
				</div>
			</div>
		</div>
		<% end %>

	</div>
</div>
