<!--<div class="row">
  <div class="col-md 12 col-md-6" id="login-page">
    -->

<div class="mysignup">
    

    <h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render 'shared/devisemes' %>



  <div class="form-group signin-field">
    <%= f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "email" %>
  </div>

  <div class="form-group signin-field">
    <%= f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "password"  %>
  </div>



  <% if devise_mapping.rememberable? %>
    <div class="form-group">
      <%= f.check_box :remember_me %> Remember Me
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", :class => "btn btn-primary my-button" %>
    <%= link_to "Forgot password", new_user_password_path, :class => "btn btn-primary my-button" %> <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path, class: "btn btn-primary my-button" %>

  </div>
 
  
  <% end %>
  </div> 
  
</div>
</div>




