@import "bootstrap-sprockets";
@import "bootstrap";
@import "toastr";

p {
	font-family: Roboto;
}

a {
	color: grey;
}
.avatar-small {
	width: 28px;
}

.avatar-medium {
	width: 48px;
}

.avatar-large {
	width: 60px;
}

.avatar-full {
	width: 100%;
}

label {
	color: #8193F7;
	font-size: 1.1em;
	font-weight: 500;
	margin-bottom: 10px;
	font-family: Lora;
}

select {
	color: #8193F7;
	background-color: #fff;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 10px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

.amenities {
	margin-bottom: 10px;
	list-style-type: none;

}

.text-line-through {
	text-decoration: line-through;
}
.select:before {
	content: '\25bc';
	font-size: 1.2em;
	position: absolute;
	color: #8193F7;
	top: 40px;
	right: 30px;
	transform: scale(0.84, 0.42);
}

input[type="checkbox"] {
	height: 1.25em;
	width: 1.25em;
	margin-bottom: -0.25em;
	margin-right: 5px;
	vertical-align: top;
	border: 1px solid #c4c4c4;
	border-radius: 2px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}

input[type="checkbox"]:checked:before {
	content: "\2713";
	position: absolute;
	font-size: 0.95em;
	text-align: center;
	width: 1.25em;
	color: #81F7AA;

}

.mtop {
	margin-top: 100px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;

}

.panel-heading.preview {
	padding: 0;
}

.panel-heading.preview img {
	width: 100%;
}

.my-button:hover {
	background-color: grey;
	border: none;
	color: white;
}

.navbar {
	margin-bottom: 25px;
	background-color: white;
	border: none;

}

.navbar li a {
	color: white;
}

#navbar {
	font-family: Abel;
	text-transform: uppercase;
}

.navbar-brand {
	font-family: Rochester;
	font-size: 3em;
}

.form-control {
	width: 80%;
}

#listing-title {
	text-align: center;

}

.about-home {
	text-align: center;
	font-family: Lora;
}

.swap-table td {
	width: 100%;
	border: 1px solid black;
	padding: 10px;
}

.wide {
	width: 100%;
}

.signin-field {
	width: 70%;
	text-align: center;
}

#login-page {
	margin: 0 auto;
	text-align: center;
}

.my-button {
	background-color: black;
	color: white;
	font-family: Abel;
	border: none;
}

h2 {
	font-family: Rochester;
}

.signup {
	margin-left: auto;
	margin-right: auto;
	width: 700px;
}

.mysignup {
	margin: auto;
	width: 50%;
}