<%= form_for([@home, @home.swaps.new]) do |f| %>
	
	<div class="row">
		<div class="col-md-6">
			<label>Start</label>
			<%= f.text_field :start_date, readonly: 'true', placeholder: 'start Date', class: 'form-control' %>
		</div>
		<div class="col-md-6">
			<label>End</label>
			<%= f.text_field :end_date, readonly: 'true', placeholder: 'end Date', class: 'form-control', disabled: 'true' %>
		</div>
	</div>
	
	<!--<%= f.text_field :start_date %>
	<%= f.text_field :end_date %>-->
	<%= f.hidden_field :home_id, value: @home.id %>

	<h4><span id="message"></span></h4>
	
	<div id="preview" style="display: none">

		<table class="swap-table">
			<tbody>
				<tr>
					<td>Days</td>
					<td><span id="swap_days"></span></td>
				</tr>
			</tbody>
		</table>
	<br>
	</div>
	
	<%= f.submit "Request Swap", class: "btn btn-primary wide", id: "btn-book", disabled: 'true' %>
<% end %>

<script>

	function unavailable(date) {
		dmy = date.getDate() + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
		return [$.inArray(dmy, unavailableDates) == -1];

	}

	$(function() {

		unavailableDates = [];
	
		$.ajax({
			url: '/preload',
			data: {'home_id': <%= @home.id %>},
			dataType: 'json',
			success: function(data) {

				$.each(data, function(arrID, arrValue) {
					for(var d = new Date(arrValue.start_date); d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
						unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
					}

				});

				$('#swap_start_date').datepicker({
						dateFormat: 'dd-mm-yy',
						minDate: 0,
						maxDate: '3m',
						beforeShowDay: unavailable,
						onSelect: function(selected) {
							$('#swap_end_date').datepicker("option", "minDate", selected);
							$('#swap_end_date').attr('disabled', false);

							var start_date = $(this).datepicker('getDate');
							var end_date = $('#swap_end_date').datepicker('getDate');
							var days = (end_date - start_date)/1000/60/60/24 + 1

							var input = {
								'start_date': start_date,
								'end_date': end_date,
								'home_id': <%= @home.id %>
							}

							$.ajax({
								url: "/preview",
								data: input,
								success: function(data) {

									if (data.conflict) {

										$('#message').text("This date is not available");
										$('#preview').hide();
										$('#btn-book').attr('disabled', true);

									} else {

										$('#preview').show();
										$('#btn-book').attr('disabled', false);

										
										$('#swap_days').text(days);

									}
								}
							});
						}
					});
				
					$('#swap_end_date').datepicker({
						dateFormat: 'dd-mm-yy',
						minDate: 0,
						maxDate: '3m',
						beforeShowDay: unavailable,
						onSelect: function(selected) {
							$('#swap_start_date').datepicker("option", "maxDate", selected);

							var start_date = $('#swap_start_date').datepicker('getDate');
							var end_date = $(this).datepicker('getDate');
							var days = (end_date - start_date)/1000/60/60/24 + 1


							var input = {
								'start_date': start_date,
								'end_date': end_date,
								'home_id': <%= @home.id %>
							}

							$.ajax({
								url: "/preview",
								data: input,
								success: function(data) {

									if (data.conflict) {
										$('#message').text("This date range is not available");
										$('#preview').hide();
										$('#btn-book').attr('disabled', true);
									} else {
						
										$('#preview').show();
										$('#btn-book').attr('disabled', false);

										$('#swap_days').text(days);


									}
								}

							});
						}
					});

			}

		});
	


	});


</script>