<div class="row">
	<div class="col-md-3">
	<ul class="sidebar-list">
		<li class="sidebar-link"><%= link_to "Your Listing", homes_path, class: "sidebar-link" %>
		</li>
		<li class="sidebar-item"><%= link_to "Your Swaps", homes_path, class: "sidebar-link active" %>
		</li>
	</ul>
	</div>

	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
			Your Swaps
			</div>
			<div class="panel-body">
				<% @homes.each do |home| %>
				<% home.swaps.each do |swap| %>
					<div class="row">
						<div class="col-md-2">
							<%= swap.start_date.strftime('%v') %>
						</div>
						<div class="col-md-6">
							<%= link_to home_path(swap.home) do %>
								<%= image_tag swap.home.photos[0].image.url(:thumb) if swap.home.photos.length > 0 %>
							<% end %>
						</div>
						<div class="col-md-2">
							<%= link_to user_path(swap.home.user) do %>
								<%= image_tag avatar_url(trip.room.user), class: "img-circle avatar-medium" %>
							<% end %>
						</div>
						<div class="col-md-2 right">
							<h4>trip total here</h4>
						</div>	
					<hr>
				<% end %>
			<% end %>
			</div>
		</div>
	</div>
</div>