<!DOCTYPE html>
<html>
  <head>
    <title>Homeswap</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Abel|Roboto|Rochester" rel="stylesheet">

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    

  </head>

  <body>

      <%= render 'shared/navbar' %>
      <div class="mtop"></div>
      <%= render 'shared/message' %>
    <div class="container">
    	<%= yield %>
  	</div>

  </body>
</html>
